@font-face {
  font-family: 'iconfont';  /* project id 1289435 */
  src: url('//at.alicdn.com/t/font_1289435_ru3ebi9rrw.eot');
  src: url('//at.alicdn.com/t/font_1289435_ru3ebi9rrw.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1289435_ru3ebi9rrw.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1289435_ru3ebi9rrw.woff') format('woff'),
  url('//at.alicdn.com/t/font_1289435_ru3ebi9rrw.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1289435_ru3ebi9rrw.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
